# Godot 4+ specific ignores
.godot/
/android/

# https://github.com/cashew-olddew/godot-shader-previewer
addons/shader-previewer

.idea/
*.DotSettings.user

.DS_Store

.claude/
CLAUDE.md
.gemini/
GEMINI.md

# Build artifacts
tools/uniform_wrapper_generator/bin/
tools/uniform_wrapper_generator/obj/
